<app-header titulo="Alert Page"></app-header>

<ion-content>
    <button (click)="presentAlert()">
Mostrat Alert
    </button>
    <ion-button expand="full" color="primary" (click)="presentAlert()">
        Mostrar Alert
    </ion-button>
    <ion-button expand="full" color="secondary" (click)="presentAlertMultipleButtons()">
        Mostrar Alert Multi Botones
    </ion-button>
    <ion-button expand="full" color="primary" (click)="presentAlertConfirm()">
        Mostrar Alert Confirmar
    </ion-button>
    <ion-button expand="full" color="primary" (click)="presentAlertPrompt()">
        Mostrar Alert Con Input
    </ion-button>
</ion-content>